.albums-page {
    padding: $page-margin;
    font-family: $font;
    position: relative;
    overflow: hidden;

    .featured-albums-text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1.2em 0;

        .featured-albums-sub-heading {
            font-size: 15px;
            color: var(--secondary-color);

        }

        .view-all {
            text-decoration: none;
            color: #FF1168;
            font-size: 15px;

        }
    }


    .img-list {
        display: flex;
        list-style: none;
        -overflow: hidden;


        .img-list__item {
            margin-right: 15px;


            .img-list__img {

                width: 130px;
                height: 130px;
                border-radius: 8px;
                -webkit-box-shadow: 0px 0px 65px -18px rgba(0, 0, 0, 0.23);
                -moz-box-shadow: 0px 0px 65px -18px rgba(0, 0, 0, 0.23);
                box-shadow: 0px 0px 65px -18px rgba(0, 0, 0, 0.23);
            }

        }
    }

    .new-releases-text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 1.2rem 0;

        .new-releases-sub-heading {
            font-size: 15px;
            color: var(--secondary-color)
        }

        .view-all {
            text-decoration: none;
            color: #FF1168;
            font-size: 15px;

        }
    }

    .song-list {
        list-style: none;


        .song-list__items {
            display: grid;
            grid-template-columns: 64px 1fr;
            gap: 18px;
            margin: 0 0 1.5rem;

            .song-list__img {
                border-radius: 4px;

            }

            .song-list__song-text {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: 1fr 1fr;

                .song-list__song-name {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--secondary-color);

                }

                .song-list__song-artist {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 12px;
                    font-weight: 100;
                    color: var(--secondary-color);
                    grid-column: 1;
                    grid-row: 2;

                }

                .song-list__songs {
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 12px;
                    font-weight: 100;
                    color: var(--secondary-color);
                    place-self: center;
                    grid-column: 2;
                    grid-row: span 2;
                }

            }
        }
    }
}