.albumDetails-page {
    font-family: $font;
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;

    .albumDetails-showcase {
        position: relative;

        .albumDetails-showcase__img {
            width: 375px;
            height: 400px;
        }

        .albumDetails__text-container {
            padding: 0 1.625rem;
            -padding: $view-margin;
            color: #fff;

            .albumDetails__heading {
                width: 320px;
                position: absolute;
                top: 5.1875rem;
                font-size: 2.25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


            }

            .albumDetails__numOfTracks {
                position: absolute;
                top: 8.4375rem;
                font-size: 15px;

            }

            .albumDetails-hashtags {
                position: absolute;
                top: 17.4375rem;

                .genre-hashtag-heading {
                    font-weight: 100;
                    padding: 17px 0;
                }

                .hashtags {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 17px;

                    .first-hashtag {

                        height: 41px;
                        background-color: #FF1168;
                        padding: 0.6em;
                        border-radius: 20px;
                        -text-align: center;
                        -place-self: center;
                        display: flex;
                        align-self: center;
                        color: #fff;
                        font-size: 15px;
                        text-decoration: none;
                        font-weight: 500;
                        text-transform: capitalize;


                    }

                    .second-hashtag {
                        width: 70px;
                        height: 41px;
                        background-color: #FF1168;
                        padding: 0.6em;
                        border-radius: 20px;
                        -text-align: center;
                        -place-self: center;
                        display: flex;
                        align-self: center;
                        color: #fff;
                        font-size: 15px;
                        text-decoration: none;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

            }
        }

    }

    .track-list-section {
        padding: 2.25rem 1.625rem 0;

        .track-list__sub-heading {
            margin-bottom: 1.5rem
        }

        .track-list {
            list-style: none;

            .track-list__items {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 18px;
                margin: 0 0 1.5rem;

                .track-list__img-bg {
                    width: 30px;
                    height: 30px;
                    background: linear-gradient(90deg, rgba(238, 9, 121, 1) 0%, rgba(255, 106, 0, 1) 100%);
                    border-radius: 50%;
                    place-self: center;

                    .track-list__img {
                        padding: 10px 12px;
                    }
                }

                .track-list__track-text {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: 1fr 1fr;
                    text-decoration: none;


                    .track-list__track-name {
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: 15px;
                        font-weight: 600;
                        color: $primary-color;

                    }

                    .track-list__track-artist {
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: 12px;
                        font-weight: 100;
                        color: $primary-color;
                        grid-column: 1;
                        grid-row: 2;
                        align-self: end;

                    }

                    .track-list__length {
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: 12px;
                        font-weight: 100;
                        color: $primary-color;
                        place-self: center;
                        grid-column: 2;
                        grid-row: span 2;
                    }

                }
            }
        }
    }

}