.featured-page {

    padding: $page-margin;
    font-family: $font;

    .page-heading {}

    .featured-list {
        list-style: none;

        .featured-list__item {
            position: relative;
            margin-bottom: 3.0125rem;
            -webkit-box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.09);
            border-radius: 8px;


            .featured-list__img {
                position: relative;
                border-radius: 8px;
                display: block;
                width: 100%;
                height: 100%;

            }

            .featured-list__text-container {
                position: absolute;
                bottom: 5.3em;

            }

            .featured-list__heading {
                padding: 0 0 0 1.1875rem;
                font-size: 2rem;
                word-break: break-word;
                margin: 0 0 0.5em 0;
                color: #fff;
            }

            .featured-list__sub-heading {
                padding: 0 0 0 1.1875rem;
                font-size: 0.75rem;
                color: #fff;

            }
        }

    }
}