* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-heading {
    font-size: 2.5rem;
    background: -webkit-linear-gradient($linearText1, $linearText2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font;
    padding: $view-margin;
    font-weight: 700;
}