$font: 'Poppins',
sans-serif;
$text-font: 15px;
$primary-color: #341931;
$linearText1:#EE0979;
$linearText2:#FF6A00;
$view-margin: 0 0 1.5625rem;
$page-margin:5.9375rem 1.5625rem 5rem;

body {
    background-color: var(--primary-color);
}