<%- include("../partials/head.ejs") %>
<title>Featured</title>
<%- include("../partials/nav.ejs") %>

<main>
    <h1 class="page-heading">All Albums</h1>
    <article class="albums-page">

        <section class="album-section">
            <article class="featured-albums-text-container">
                <h4 class="featured-albums-sub-heading">Featured Albums</h4>
                <a href="" class="view-all">View All</a>
            </article>
            <article class="album-covers">
                <ul class="img-list">
                    <li class="img-list__item"> <img class="img-list__img" src="https://via.placeholder.com/130x130"
                            alt="placeholder"></li>
                    <li class="img-list__item"> <img class="img-list__img" src="https://via.placeholder.com/130x130"
                            alt="placeholder"></li>
                    <li class="img-list__item"> <img class="img-list__img" src="https://via.placeholder.com/130x130"
                            alt="placeholder"></li>

                </ul>
            </article>

        </section>
        <section class="new-releases-section">
            <article class="new-releases-text-container">
                <h4 class="new-releases-sub-heading">New Releases</h4>
                <a href="" class="view-all">View All</a>
            </article>
            <ul class="song-list">
                <li class="song-list__items">
                    <img class="song-list__img" src="https://via.placeholder.com/50x50" alt=""
                        class="song-list__song-cover">
                    <article class="song-list__song-text">
                        <a class="song-list__song-name" href="">Song name</a>
                        <a class="song-list__song-artist" href="">Artist</a>
                        <a class="song-list__songs" href="">12 songs</a>
                    </article>
                </li>
                <li class="song-list__items">
                    <img class="song-list__img" src="https://via.placeholder.com/50x50" alt=""
                        class="song-list__song-cover">
                    <article class="song-list__song-text">
                        <a class="song-list__song-name" href="">Song name</a>
                        <a class="song-list__song-artist" href="">Artist</a>
                        <a class="song-list__songs" href="">8 songs</a>
                    </article>
                </li>
                <li class="song-list__items">
                    <img class="song-list__img" src="https://via.placeholder.com/50x50" alt=""
                        class="song-list__song-cover">
                    <article class="song-list__song-text">
                        <a class="song-list__song-name" href="">Song name</a>
                        <a class="song-list__song-artist" href="">Artist</a>
                        <a class="song-list__songs" href="">11 songs</a>
                    </article>
                </li>
            </ul>

        </section>
    </article>

</main>
<%- include("../partials/footer-nav.ejs") %>