<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<main>
    <article class="albumDetails-page">
        <section class="albumDetails-showcase">
            <img class="albumDetails-showcase__img" src="https://via.placeholder.com/375x400" alt="placeholder">
            <div class="albumDetails__text-container">
                <h1 class="albumDetails__heading">All Albums</h1>
                <h4 class="albumDetails__numOfTracks">12 tracks</h4>

                <section class="albumDetails-hashtags">
                    <h5 class="genre-hashtag-heading">Genre hashtags</h5>
                    <div class="hashtags">

                        <a href="" class="first-hashtag">#country</a>
                        <a href="" class="first-hashtag">#country road</a>
                    </div>
                </section>
            </div>


        </section>
        <section class="track-list-section">

            <h4 class="track-list__sub-heading">All Songs</h4>

            <ul class="track-list">
                <li class="track-list__items">
                    <figure>
                        <img class="track-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="track-list__track-cover">

                    </figure>
                    <article class="track-list__track-text">
                        <h4 class="track-list__track-name">
                            <a class="track-list__track-link" href="">track name</a>

                        </h4>
                        <h5 class="track-list__tracks" class="track-list__track-artist">

                            <a class="track-list__artist" href="">Artist</a>
                        </h5 class="track-list__tracks">
                        <a class="track-list__numOfTracks" href="">12 tracks</a>
                    </article>
                </li>
                <li class="track-list__items">
                    <figure>
                        <img class="track-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="track-list__track-cover">

                    </figure>
                    <article class="track-list__track-text">
                        <h4>
                            <a class="track-list__track-name" href="">track name</a>

                        </h4>
                        <h5>

                            <a class="track-list__track-artist" href="">Artist</a>
                        </h5>
                        <a class="track-list__tracks" href="">12 tracks</a>
                    </article>
                </li>
                <li class="track-list__items">
                    <figure>
                        <img class="track-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="track-list__track-cover">

                    </figure>
                    <article class="track-list__track-text">
                        <h4>
                            <a class="track-list__track-name" href="">track name</a>

                        </h4>
                        <h5>

                            <a class="track-list__track-artist" href="">Artist</a>
                        </h5>
                        <a class="track-list__tracks" href="">12 tracks</a>
                    </article>
                </li>
            </ul>

        </section>
    </article>


</main>
<%- include("../partials/footer-nav.ejs") %>
<%- include("../partials/after-footer.ejs") %>