<%- include("../partials/head.ejs") %>
<title>Categories</title>
<%- include("../partials/nav.ejs") %>

<main>
    <article class="category-page">
        <h1 class="page-heading">Categories</h1>
        <ul class="category-list">
            <!-- <li class="category-list__item">
                <div class="genre-container">
                    <p class="genre-heading">Alternative</p>
                    <div>
                        <img class='more' src="/assets/images/ionmore.svg" alt="more">
                    </div>
                </div>
                <ul class="sub-genre-list">
                    <li class="sub-genre-list__item">
                        <div class="sub-genre-container">
                            <p class="sub-genre-list__text">
                                Acoustic Blues</p>
                            <div>
                                <img class='sub-genre-list__arrow-forward' src="/assets/images/arrow-forward.svg"
                                    alt="more">
                            </div>

                        </div>

                    </li>
                </ul>
            </li> -->
        </ul>



    </article>
</main>
<template id="category-template">
    <li class="category-list__item">
        <div class="genre-container">
            <p class="genre-heading"></p>
            <div>
                <img class='more' src="/assets/images/ionmore.svg" alt="more">
            </div>
        </div>
        <ul class="subCat-list">
            <!-- <li class="sub-genre-list__item">
                <div class="sub-genre-container">
                    <p class="sub-genre-list__text">
                        Acoustic Blues</p>
                    <div>
                        <img class='sub-genre-list__arrow-forward' src="/assets/images/arrow-forward.svg" alt="more">
                    </div>

                </div>

            </li> -->

        </ul>
    </li>
</template>

<template id="sub-category-template">
    <li class="sub-genre-list__item">
        <a class="sub-genre-list__link" href="">
            <div class="sub-genre-container">
                <p class="sub-genre-list__text">
                    Acoustic Blues</p>
                <div>
                    <img class='sub-genre-list__arrow-forward' src="/assets/images/arrow-forward.svg" alt="more">
                </div>
            </div>
        </a>
    </li>
</template>

<%- include("../partials/footer-nav.ejs") %>
<%- include("../partials/after-footer.ejs") %>
<script src="/assets/javascript/categoryPage.js"></script>