<%- include("../partials/head.ejs") %>
<title>Featured</title>
<%- include("../partials/nav.ejs") %>

<main>
    <article class="featured-page">
        <h1 class="page-heading">Featured</h1>
        <ul class="featured-list">
            <!-- <li class="featured-list__item">
                <img class="featured-list__img" src="https://via.placeholder.com/325x425" alt="placeholder">
                <div class="featured-list__text-container">
                    <h2 class="featured-list__heading">placeholder heading</h2>
                    <h3 class="featured-list__sub-heading">placeholder subheading</h3>
                </div>
            </li> -->
            <!-- <li class="featured-list__item">
                <img class="featured-list__img" src="https://via.placeholder.com/325x425" alt="placeholder">
                <div class="featured-list__text-container">
                    <h2 class="featured-list__heading">placeholder heading</h2>
                    <h3 class="featured-list__sub-heading">placeholder subheading</h3>

                </div>
            </li> -->

        </ul>
    </article>
</main>
<template id="featured-template">
    <a href="">

        <li class="featured-list__item">
            <div class="spinner"></div>
            <img class="featured-list__img" src="https://via.placeholder.com/325x425" alt="placeholder">
            <!--         <div class="featured-list__text-container">
                <h2 class="featured-list__heading"></h2>
                <h3 class="featured-list__sub-heading"></h3>
            </div> -->
        </li>
    </a>
</template>
<!-- <script src="/assets/javascript/main.js"></script> -->
<%- include("../partials/footer-nav.ejs") %>
<%- include("../partials/after-footer.ejs") %>
<script src="/assets/javascript/featuredPage.js"></script>