<%- include("../partials/head.ejs") %>
<title>Playlist</title>
<%- include("../partials/nav.ejs") %>

<main>
    <article class="playlist-page">
        <section class="playlist-showcase">
            <h1 class="playlist-heading">playlist</h1>
            <div class="slider">
                <img class="slider-img" src="https://via.placeholder.com/155x155" alt="placeholder">
                <img class="slider-img__1" src="https://via.placeholder.com/155x155" alt="placeholder">

                <img class="slider-img" src="https://via.placeholder.com/155x155" alt="placeholder">

            </div>
            <h2 class="playlist-genre">top 50</h2>
            <!--   <h2 class="playlist-genre">rock ballads</h2> -->



        </section>

        <section class="play-list-section">


            <ul class="play-list">
                <!-- <li class="play-list__items">
                    <figure class="play-list__img-bg">
                        <img class="play-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="play-list__play-cover">

                    </figure>
                    <article class="play-list__play-text">

                        <a class="play-list__play-name" href="">play name</a>



                        <a class="play-list__play-artist" href="">Artist</a>

                        <a class="play-list__numOfPlays" href="">12 plays</a>
                    </article>
                </li> -->
                <!-- <li class="play-list__items">
                    <figure class="play-list__img-bg">
                        <img class="play-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="play-list__play-cover">

                    </figure>
                    <article class="play-list__play-text">

                        <a class="play-list__play-name" href="">play name</a>




                        <a class="play-list__play-artist" href="">Artist</a>

                        <a class="play-list__numOfPlays" href="">12 plays</a>
                    </article>
                </li>
                <li class="play-list__items">
                    <figure class="play-list__img-bg">
                        <img class="play-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="play-list__play-cover">

                    </figure>
                    <article class="play-list__play-text">

                        <a class="play-list__play-name" href="">play name</a>




                        <a class="play-list__play-artist" href="">Artist</a>

                        <a class="play-list__numOfPlays" href="">12 plays</a>
                    </article>
                </li>
                <li class="play-list__items">
                    <figure class="play-list__img-bg">
                        <img class="play-list__img" src="/assets/images/ionplay.svg" alt=""
                            class="play-list__play-cover">

                    </figure>
                    <article class="play-list__play-text">

                        <a class="play-list__play-name" href="">play name</a>




                        <a class="play-list__play-artist" href="">Artist</a>

                        <a class="play-list__numOfPlays" href="">12 plays</a>
                    </article>
                </li> -->

            </ul>
            <h3 class="listenToAll"><a href="" class="listen-link">listen all</a></h3>
        </section>
    </article>


</main>
<template id="playlistTemplate">
    <li class="play-list__items">
        <figure class="play-list__img-bg">
            <img class="play-list__img" src="/assets/images/ionplay.svg" alt="" class="play-list__play-cover">

        </figure>
        <article class="play-list__play-text">

            <a class="play-list__play-name" href="">play name</a>




            <a class="play-list__play-artist" href="">Artist</a>

            <a class="play-list__numOfPlays" href="">12 plays</a>
        </article>
    </li>

</template>
<%- include("../partials/footer-nav.ejs") %>
<%- include("../partials/after-footer.ejs") %>
<script src="/assets/javascript/playlistPage.js"></script>