<%- include("../partials/head.ejs") %>
<title>Player</title>
<%- include("../partials/nav.ejs") %>

<main>
    <article class="player-page">
        <sectiom class="avatar">
            <img class="avatar-img" src="https://via.placeholder.com/225x225" alt="placeholder">
        </sectiom>
        <section class="player">
            <div class="player__song-info">
                <h1 class="player__song-name">
                    NAME OF SONG
                </h1>
                <p class="player__artist-name">
                    NAME OF Artist
                </p>
            </div>
            <div class="player-tools">
                <div class="progress-bar__container">
                    <div class="progress-bar__bar">
                        <div class="progress__dot"></div>
                    </div>
                    <div class="progress-bar__time-frame">
                        <p class="start-point">0:00</p>
                        <p class="end-point">3:20</p>

                    </div>
                </div>
                <div class="player-tools__btn">
                    <img src="/assets/images/player-backward.svg" alt="" class="player-tools__back">
                    <img src="/assets/images/player-rewind.svg" alt="" class="player-tools__rewind">
                    <img src="/assets/images/player-play.svg" alt="" class="player-tools__play">
                    <img src="/assets/images/player-fastforward.svg" alt="" class="player-tools__fastForward">
                    <img src="/assets/images/player-forward.svg" alt="" class="player-tools__forward">

                </div>
            </div>
        </section>

    </article>

</main>
<%- include("../partials/after-footer.ejs") %>
<script src="/assets/javascript/playerPage.js"></script>